.lite-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%; }

#navbar {
  margin-bottom: 50px; }
  #navbar nav {
    height: 120px;
    transition: 0.2s ease;
    box-shadow: none; }
    #navbar nav .nav-wrapper {
      padding: 0 24px; }
    #navbar nav ul {
      display: inline !important;
      vertical-align: middle !important; }
      #navbar nav ul a {
        height: 120px;
        transition: 0.2s ease;
        line-height: 120px;
        color: #665;
        font-family: Montserrat, sans-serif; }
        #navbar nav ul a:hover {
          color: #fff;
          transition: 0.1s color, 0.3s background-color;
          background-color: #7D59A7;
          transition: 0.2s ease; }
          #navbar nav ul a:hover .highlight {
            color: white; }
      #navbar nav ul .highlight {
        transition: color 0.2s, border 0.2s; }
        #navbar nav ul .highlight a {
          color: #7D59A7; }
        #navbar nav ul .highlight:hover a {
          color: white; }
    #navbar nav .brand-logo {
      height: 120px;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: 0.2s; }
      #navbar nav .brand-logo img {
        height: 100%; }
    #navbar nav.shrink {
      height: 60px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
      #navbar nav.shrink .brand-logo {
        padding-top: 0px;
        padding-bottom: 0px; }
      #navbar nav.shrink a {
        line-height: 60px;
        height: 60px; }

#hero {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  background-color: #e0e0e0; }
  #hero .slogan {
    position: relative;
    float: left;
    margin-left: 9vw; }
    #hero .slogan h1 {
      font-size: 5vw;
      font-family: Montserrat, sans-serif;
      color: #846b8a;
      text-align: center; }
    #hero .slogan .btn-large {
      color: white;
      background-color: #7D59A7;
      font-size: 1.6vw;
      width: 26vw;
      height: 6.5vw;
      display: block;
      margin: auto;
      line-height: 6.5vw;
      vertical-align: middle;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 3px;
      /* future proofing */
      -khtml-border-radius: 5px;
      /* for old Konqueror browsers */
      transition: 0.4s box-shadow, 8s background-color;
      box-shadow: 0 0 150px rgba(255, 255, 255, 0.2), 0px 3px 15px #444; }
      #hero .slogan .btn-large:hover {
        box-shadow: none;
        background-color: #9D59F7; }
  #hero img {
    width: 50vw;
    margin-left: 6vw; }

#team h1 {
  font-family: Montserrat, sans-serif;
  text-align: center;
  opacity: 0.7; }
#team .team-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
  position: relative; }
  #team .team-card:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }
    #team .team-card:hover .btn-flat {
      background-color: #7D59A7;
      color: white; }
#team .member {
  display: block;
  margin: auto;
  height: auto;
  float: none;
  padding: auto; }
  #team .member .img-container {
    width: 100%; }
  #team .member .content {
    position: relative;
    display: block; }
  #team .member h4 {
    opacity: 0.85; }
  #team .member .title {
    opacity: 0.7; }
  #team .member .btn-flat {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: 0.5s ease;
    padding: 0 12px;
    border-radius: 2px; }
    #team .member .btn-flat:hover {
      background-color: #907897; }

#services {
  background-color: #64b5f6; }
  #services h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: white; }
  #services .collapsible li {
    transition: 0.1s; }
    #services .collapsible li:hover {
      color: #000;
      background-color: #fff;
      transform: translate(-10px, 0); }
  #services .collapsible .collapsible-header {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #555;
    background-color: #fdfdfd;
    padding-top: 10px;
    padding-bottom: 10px; }
    #services .collapsible .collapsible-header.active {
      color: #000;
      background-color: #fff; }
      #services .collapsible .collapsible-header.active:hover {
        color: #555;
        background-color: #fdfdfd; }
  #services .collapsible .collapsible-body {
    background-color: white; }

#work {
  background-color: #eee;
  height: 1000px; }
  #work h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    opacity: 0.7; }
  #work h2 {
    font-weight: 300;
    text-align: center;
    opacity: 0.9; }
  #work .demo {
    position: relative; }
    #work .demo img {
      position: absolute; }
    #work .demo .demo-phone {
      left: 430px;
      top: 180px;
      z-index: 2; }
    #work .demo .demo-computer-frame {
      position: absolute;
      opacity: 0.9;
      width: 505px;
      height: 292px;
      left: 34.5px;
      top: 24px; }
      #work .demo .demo-computer-frame iframe {
        border: none;
        width: 1010px;
        height: 584px;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0; }
    #work .demo .demo-phone-frame {
      position: absolute;
      opacity: 0.9;
      width: 139.5px;
      height: 231px;
      left: 445px;
      top: 205px;
      z-index: 3; }
      #work .demo .demo-phone-frame iframe {
        border: none;
        width: 465px;
        height: 770px;
        -moz-transform: scale(0.3);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.3);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.3);
        -webkit-transform-origin: 0 0; }
  #work .card {
    width: 500px;
    height: 400px;
    display: block;
    margin: auto; }

@media only screen and (max-width: 992px) {
  .hero img {
    width: 40%;
    margin: auto;
    display: block; }

  nav {
    height: 60px; }
    nav .brand-logo {
      height: 60px; }
      nav .brand-logo img {
        height: 60px;
        margin: 0; } }

/*# sourceMappingURL=style.css.map */
